/* Empty. Add your own CSS if you like */
*{padding:0;margin:0;box-sizing: border-box;border:0}
a{text-decoration: none;color: #444}
li{list-style: none}
html,body{background: #eee}
.responsive-img{width:100%;height:auto;}
/*首页-------------------------------------------------------------*/
/*首页轮播图*/
.banner{
    width:100%;overflow: hidden;position: relative;
    border-top:2px solid #333;
}
/**专属定制*/
.zixun{position:absolute;bottom:0px;width:100%;text-align:center;z-index:10;background: #fff;padding:10px 0;}
.zixun a{color:#333}
.zixun a span{color:#999}
/*登录页-------------------------------------------------------------*/
/*login 登录*/
.login-input{padding:20px;position: relative;}
.login-input input{border-radius: 5px;width:100%;background: #fff;text-indent:10px;}
.login-get{position: absolute;top:88px;right:35px;width:88px;height:33px;border-left:1px solid #ccc;line-height: 33px;padding-left:10px;
    text-align: center;
}
.login-get a{color:lightskyblue}
/*医生在线-------------------------------------------------------------*/
/*选择按钮*/
.line-selected{padding:10px;width:100%;background: #efefef}
.line-selected .line-item {width:100%;display: flex;}
.line-selected .line-item:not(:last-child){padding-bottom: 10px}
.line-item a{flex:1;text-align: center;line-height: 50px;background: #fff;color:#888;cursor: pointer;}
.line-item a:not(:first-child){margin-left:10px}
.line-item .line-active{background: #888;color:#fff}
/*医生列表*/
.line-yisheng span{font-size: 14px;color:#666;border:1px solid #ccc}
.line-yisheng span:not(:last-child){margin-right:5px;}
/*医生详情页*/
/*咨询师页面*/
.counselor-content{padding:10px;font-size: 18px;}
.counselor-content img{max-height: 40px;min-width: 40px;background:red;border-radius:50%}