<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>登录/注册</title>
    <link rel="stylesheet" href="../lib/css/ionic.min.css"/>
    <script src="../lib/js/angular/angular.min.js"></script>
</head>
<body>
    <div class="bar bar-header">
        <h1 class="title">医美定制</h1>
    </div>
    <div class="has-header content">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="text" placeholder="Password">
            </label>
        </div>
        <div class="button-bar">
            <button class="button">登录</button>
            <a href="#">忘记密码</a>
        </div>
    </div>

</body>
</html>