

<div class='bar bar-header'>
    <a class='button button-icon icon ion-ios-person'></a>
	<h1 class='title'>医美定制</h1>
	<a class='button button-icon icon ion-ios-bell'></a>
</div>
<div class="content has-header">
    <div class="banner" id="banner">
        <ul class="banner-wrap">
            <li ng-repeat="item in data"><a href="{{item.href}}"><img src={{item.src}} alt="{{item.alt}}" class="responsive-img"/>
                <div class="banner-wrap-text">
                    <p>{{item.name}}</p>
                    <p>{{item.message}}</p>
                </div>
            </a>
            </li>
        </ul>
        <div class="banner-num" id="btn">
            <span class="active-span"></span>
            <span></span><span></span><span></span>
        </div>
    </div>
    <div class="row">
        <div class="col content">
            <a class="button-icon tab con-left ion-android-star dark" href="#/tabs/line">
                <div class="mingyi">
                    <h5>名医在线</h5>
                    <span>一对一专家视频资讯</span>
                </div>
            </a>
        </div>
        <div class="col content">
            <a class="button-icon icon-left ion-android-star dark" href="#/tabs/diy">
                <div class="mingyi">
                    <h5>医院定制</h5>
                    <span>预约全球顶尖医院</span>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="zixun">
    <a href="#/tabs/login" class="title">
        <b>专属外形定制咨询师</b><br/>
        <span>
            专业医生咨询团队24小时为您服务
        </span>
    </a>
</div>

