<div class='index-ion'>
    <a ng-href="#/tabs/messages" class="index-ion-return"></a>
    <h1 class='title'>咨询师</h1>
</div>
<ion-content class="has-header" style="background:#F3F7F8">
    <div class="counselor-content">
        <div class="counselor-timer">2017-02-23</div>
        <div class="counselor-chat">
            <img ng-src="img/touxiang1.png" alt="加载中"/>
            <div class="counselor-chat-text">中国爱美整形外科医院是中国唯一
                一家集整形美容整容为一体的专科医院。</div>
        </div>
        <div class="counselor-chat-prog">
            <a href="#/tabs/mine/program/:id">
                <p>方案1</p>
                <img ng-src="img/touxiang1.png" alt="加载中"/>
                <div class="counselor-chat-prog-tex">
                    <div>李敏<i class="line-ion-zhuan"></i></div>
                    <span>主治医师</span>
                </div>
            </a>
        </div>
        <div class="counselor-chat-prog counselor-chat-h">
            <a href="#/tabs/mine/order/:id">
                <p>中国爱美整形外科医院</p>
                <div style="display: flex">
                    <span>医生</span>
                    <span style="color:#333">&nbsp;&nbsp;李敏</span>
                    <i class="line-ion-zhuan"></i>
                    <span style="flex: 1;color: #FF8EA2;font-size:1.42rem;text-align:right">￥1204.00</span>
                </div>
                <div><span>时间&nbsp;&nbsp;</span><span>02-10 16:16</span></div>
                <div><span>方案&nbsp;&nbsp;</span><span style="color:#333">方案1</span></div>
            </a>
        </div>
        <div class="counselor-chat-mine">
            <img ng-src="img/WechatIMG8.png" alt="加载中"/>
            <div class="counselor-chat-mine-text">谢谢老师！</div>
        </div>
    </div>
</ion-content>

<div class="counselor-foot" style="bottom:5.42rem">
    <input type="text" placeholder="请输入消息" id="info_text" ng-blur="changeShow()"/>
    <a class="icon ion-ios-plus-outline counselor-foot-add" href="#/tabs/messages/counselor" ng-if="show()"></a>
    <a class="counselor-send" id="info_send" ng-if="!show()" href="#/tabs/messages/counselor">发送</a>
</div>
<div class="bar bar-footer" style="height:66px;">
    <i class="button-icon button icon ion-ios-camera"></i>
    <div style="position: absolute;left: 14px;bottom:6px;">照片</div>
</div>


