<div style="height: 44px;">
    <div class='bar bar-header'>
        <a ng-href="#/tabs" class="button button-clear icon ion-ios-arrow-back"></a>
        <h1 class='title'>咨询师</h1>
    </div>
</div>
<div class="counselor-content">
    <div style="line-height: 45px;height:50px;">
        <img ng-src="img/c5.png" alt="加载中"/>
        <span style="font-size: 18px;vertical-align: text-bottom;padding-left: 5px;">咨询师</span>
    </div>
    <div>
        <textarea name="" id="" cols="30" rows="6" style="width: 100%;border-radius: 5px;">
            漂亮的界面　追求性能  　专注原生　免费开源
        </textarea>
    </div>
    <div style="background: #fff;margin:10px 0;padding:0 10px;border-radius: 5px;
    line-height: 45px;">
        <a href="">
            <p style="border-bottom: 1px solid #ccc;padding:5px 0;">方案1</p>
            <img ng-src="img/c5.png" alt="加载中"/>
            <span style="font-size: 18px;vertical-align: text-bottom;padding-left: 5px;">李敏 <span style="color:#999"> 主治医师</span></span>
        </a>
    </div>
    <div style="background: #fff;margin:10px 0;padding:0 10px;border-radius: 5px;line-height: 1.5">
        <a href="">
            <p style="border-bottom: 1px solid #ccc;padding:5px 0;">北京爱乐里格美容医院</p>
            <div>李敏 <span style="float: right;color:lightskyblue">￥1204.00</span></div>
            <span style="color: #999">01-10 16:16</span>
            <div style="color: #999;padding-bottom: 10px;">方案1</div>
        </a>
    </div>
</div>
<div class="bar bar-footer" style="border-top: 1px solid #999;display:flex;">
    <input type="text" placeholder="请输入消息" style="flex:1;" />
    <a class="button-icon button ion-ios-plus-outline" href="#/tabs/counselor/more"></a>
</div>


