<div class='index-ion'>
    <a ng-href="" ng-click='backPgUp()' class="index-ion-return"></a>
    <h1 class='title'>咨询师</h1>
</div>
<ion-content class="has-header" style="background:#F3F7F8" delegate-handle="mainScroll">
    <ion-refresher pulling-icon="ion-load-b"
            pulling-text="Pull to refresh..."
            on-refresh="">
    </ion-refresher>
    <div class="counselor-content" id='dialog_chat'>
        <div class="chat-receiver">
            <div class="counselor-timer">
                <span>2017-02-23</span>
            </div>
            <div class="chat-avatar">
                <img src="./img/touxiang1.png">
            </div>
            <div class="chat-content">
                <span>中国爱美整形外科医院是中国唯一
                一家集整形美容整容为一体的专科医院。</span>
            </div>
        </div>
        <div class="counselor-chat-prog">
            <a href="#/tabs/mine/program/1">
                <p>方案1</p>
                <img ng-src="img/touxiang1.png" alt="加载中"/>
                <div class="counselor-chat-prog-tex">
                    <div>李敏<i class="line-ion-zhuan"></i></div>
                    <span>主治医师</span>
                </div>
            </a>
        </div>
        <!-- <div class="counselor-chat-prog counselor-chat-h">
            <a href="#/tabs/mine/order/:id">
                <p>中国爱美整形外科医院</p>
                <div style="display: flex">
                    <span>医生</span>
                    <span style="color:#333">&nbsp;&nbsp;李敏</span>
                    <i class="line-ion-zhuan"></i>
                    <span style="flex: 1;color: #FF8EA2;font-size:1.42rem;text-align:right">￥1204.00</span>
                </div>
                <div><span>时间&nbsp;&nbsp;</span><span>02-10 16:16</span></div>
                <div><span>方案&nbsp;&nbsp;</span><span style="color:#333">方案1</span></div>
            </a>
        </div> -->
        <div class="chat-sender">
            <div class="counselor-timer">
                <span>02-23 17:30</span>
            </div>
            <div class="chat-avatar">
                <img src="./img/WechatIMG8.png">
            </div>
            <div class="chat-content">
                <span>谢谢老师！</span>
            </div>
        </div>
    </div>
    <ion-infinite-scroll style='height:50px;'
        on-infinite=""
        distance="2%">
    </ion-infinite-scroll>
</ion-content>
<div class="counselor-foot">
    <input type="text" placeholder="请输入消息" id="info_text" ng-keyup="changeShow($event)" ng-blur="changeShow()"/>
    <a class="icon ion-ios-plus-outline counselor-foot-add" ng-if="show()" ng-click="addPic()" style="cursor:pointer"></a>
    <a class="counselor-send" id="info_send" ng-if="!show()" ng-click="sendPrivateInfo()">发送</a>
</div>
<div class="bar bar-footer" style="height:66px;" ng-if="flag">
    <i class="button-icon button icon ion-ios-camera"></i>
    <input type="file" id='image' />
    <div style="position: absolute;left: 14px;bottom:6px;">照片</div>
</div>

