<div class='index-ion'>
    <a ng-href="#/tabs/diy" class="index-ion-return"></a>
    <h1 class='title'>医院介绍</h1>
</div>
<ion-content class="has-header">
    <div ng-repeat="item in data">
        <div class="diyInfo-fir">
            <img ng-src="{{item.img}}" alt="正在加载..." class="responsive-img"/>
        </div>
        <div class="diyInfo-sec">
            <div>{{item.name}}</div>
            <span>{{item.adress}}</span>
        </div>
        <div class="diyInfo-thr" id="diyInfo-thr">
            <a href="" class="diyInfo-thr-act" ng-click="change()">医院介绍</a>
            <a href="" ng-click="change1()">医生团队</a>
        </div>
        <div style="height: 0.83rem;background:#F3F7F8"></div>
        <div class="diyInfo-for" ng-if="show()">
            <img ng-src="{{item.bsrc}}" alt="正在加载中..." class="responsive-img"/>
        </div>
        <div class="diyInfo-for" ng-if="!show()">
            <div class="list">
                <a class="item item-avatar line-yisheng" style="padding-left:7rem;"
                   ng-repeat="list in lists" ng-href="#/tabs/line/{{list.id}}"    >
                    <img ng-src="{{list.img}}" alt="加载中">
                    <h2>{{ list.name }}-{{ list.job }}<i class="line-ion-zhuan"></i></h2>
                    <p>{{list.address}}</p>
                    <span>{{list.hurt}}</span><span>{{list.timer}}</span>
                </a>
            </div>
        </div>
    </div>

</ion-content>
<div class="program-btn">
    <a ng-href="#/tabs/login">定制方案(首次免费)</a>
</div>