<div style="height:44px;">
    <div class="bar bar-header">
        <a ng-href="#/tabs/diy" class="button button-clear icon ion-ios-arrow-back"></a>
        <h1 class="title">优质医院</h1>
    </div>
</div>
<ion-content class="has-header">
    <div><img src="" alt="" style="height:200px;background: red" class="responsive-img"/></div>
    <div style="text-align:center;padding:10px 0 20px;border-bottom: 1px solid #ccc;background: #fff">
        <p>北京爱乐里格医疗美容整形医院</p>
        <span style="font-size:14px;color: #999">医疗美容诊所</span>
    </div>
    <div style="display: flex;padding-top:10px;padding-bottom: 1px;background: #fff">
        <div style="flex: 1;text-align: center">
            <a href="" style="display: inline-block;padding-bottom: 10px;border-bottom: 3px solid #11c1f3">医院介绍</a>
        </div>
        <div style="flex: 1;text-align: center">
            <a ng-href="#/tabs/diy/:id/ys" style="display: inline-block;padding-bottom: 10px;border-bottom: 3px solid transparent">医生团队</a>
        </div>
    </div>
<div style="margin-top:10px;">
    <img src="" alt="" class="responsive-img" style="height:400px;background: yellow"/>
</div>
</ion-content>
<div class="bar bar-footer calm-bg">
    <h1 class="title"><a ng-href="#/tabs/login" style="color:#fff">定制方案(首次免费)</a></h1>
</div>