<div class='index-ion'>
    <a ng-href="#/tabs/line" class="index-ion-return"></a>
    <h1 class='title'>医院介绍</h1>
</div>
<ion-content class="has-header">
    <div ng-repeat="item in data">
        <div class="diyInfo-fir">
            <img ng-src="{{item.img}}" alt="正在加载..." class="responsive-img"/>
        </div>
        <div class="diyInfo-sec">
            <div>{{item.name}}</div>
            <span>{{item.adress}}</span>
        </div>
        <div class="diyInfo-thr" style="">
            <a href="" class="diyInfo-thr-act">医院介绍</a>
            <a ng-href="#/tabs/diy/:id/ys">医生团队</a>
        </div>
        <div style="height: 0.83rem;background:#F3F7F8"></div>
        <div class="diyInfo-for">
            <img ng-src="{{item.bsrc}}" alt="正在加载中..." class="responsive-img"/>
        </div>
    </div>

</ion-content>
<div class="program-btn">
    <a ng-href="#/tabs/login">定制方案(首次免费)</a>
</div>