
<div style="height:44px;">
    <div class="bar bar-header">
        <a href="#/tabs/line" class="button button-clear icon ion-ios-arrow-back"></a>
        <h1 class="title">医生详情</h1>
    </div>
</div>
<ion-content class="has-header">
    <div style="height:220px;background: #888">
        <img ng-src="" alt="正在加载图片..." class="responsive-img"/>
    </div>
    <div style="text-align:center;line-height: 2;padding:10px 0 0;"
         class="list line-yisheng">
        <div style="font-size:18px;font-weight:500">黎明</div>
        <div style="color:#999">主治医生</div>
        <span>眼部总合整形</span>
        <span>微整形在线面诊</span>
        <span>眼部总合整形</span>
    </div>
    <div class="list">
        <a class="item item-icon-right" href="#/tabs/diy/:id">
            <span>北京爱悦里格医疗美容医院</span>
            <i class="icon ion-ios-arrow-forward"></i>
        </a>
    </div>
    <div style="width:100%;background:red;height:400px;"><img ng-src="" alt="正在加载..."class="responsive-img"/></div>
</ion-content>