
<div class='index-ion'>
    <a ng-href="#/tabs/line" class="index-ion-return"></a>
    <h1 class='title'>医生详情</h1>
</div>
<ion-content class="has-header">
    <div ng-cloak>
        <div class="lineyisheng">
            <img ng-src="{{data.bigImg}}" alt="正在加载图片..." class="responsive-img"/>
        </div>
        <div class="yisheng-mid line-yisheng">
            <div class="line-name">{{data.name}}</div>
            <div class="line-job">{{item.job}}</div>
            <span ng-repeat="(key,val) in data.plasticProjects" ng-if='key > 2 ? false : true' data-id="{{val.id}}">{{val.name}}</span> 
        </div>
        <div class="line-yisheng-adr">
            <a href="#/tabs/diy/{{data.hospId}}">
                <span>{{data.hospName}}</span>
                <i class="icon-next"></i>
            </a>
        </div>
        <div style="height:0.83rem;background: #F3F7F8"></div>
        <div class="line-yisheng-bimg"><img ng-src="{{data.description}}" alt="正在加载..."class="responsive-img"/></div>
    </div>

</ion-content>
<div class="program-btn">
    <a>定制方案(首次免费)</a>
</div>