<div class='index-ion'>
    <a ng-href="#/tabs" class="index-ion-return"></a>
    <h1 class='title'>消息</h1>
</div>
<ion-content class="has-header">
    <div style="" class="message-border">
        <a class="item item-avatar"
           ng-href="#/tabs/messages/counselor"    >
            <img ng-src="img/touxiang1.png" alt="加载中">
            <h2>咨询师 <span>12-09 16:00</span></h2>
            <p>在线订单，全面开通医美美容服务...</p>
        </a>
        <a class="item item-avatar"
           ng-href="#/tabs/messages/counselor"    >
            <img ng-src="img/touxiang1.png" alt="加载中">
            <h2>咨询师 <span>12-09 16:00</span></h2>
            <p>在线订单，全面开通医美美容服务...</p>
        </a>
    </div>

</ion-content>