<div class="mine-box" style="">
    <div class="mine-img">
        <a href="#">
            <img ng-src="img/WechatIMG8.png" alt=""/>
        </a>
        <p>卖品牌的小火柴</p>
    </div>
    <div class="mine-in">
        <a href="#/tabs/mine/program"><i class="fangan"></i><div>方案</div><span class="icon-next"></span></a>
        <a href="#/tabs/mine/order"><i class="dingdan"></i><div>订单</div><span class="icon-next"></span></a>
    </div>
    <a href="#" class="signOut" ng-click="signOut()">退出登录</a>
</div>

