<div style="height:44px;">
    <div class="bar bar-header">
        <a ng-href="#/tabs" class="button button-clear icon ion-ios-arrow-back"></a>
        <h1 class="title">个人中心</h1>
    </div>
</div>
<div  style="height:150px;text-align: center;padding:20px;background: #fff;margin-top:1px;">
    <a href="#">
        <img ng-src="img/c5.png" alt="" style="border-radius: 50%;
    max-width: 72px;
    max-height: 72px;"/>
    </a>
    <p style="font-size: 16px;">昵称</p>
</div>
<a href="#" class="item" style="margin-top: 10px;">
    方案
</a>
<a href="#" class="item" style="margin-top: 5px;">
    订单
</a>
<div style="margin-top: 50%;display: flex;padding:0 20px; ">
    <a href="#" class="button" style="flex:1;border-radius: 5px;
    background: #999;color:#fff">退出登录</a>
</div>
