
<div class="mine-box">
    <div style='background-image: linear-gradient(0deg, #56DBE2 3%, #71D5B9 98%);'>   
        <!-- <div class='index-ion' style='background: transparent;border-bottom:1px solid transparent'>
            <a href="" ng-click='backPgUp()' class="index-ion-return"></a>
            <h1 class='title' style='text-indent:-10px'>个人中心</h1>
        </div> -->
        <div class="mine-img">
            <a href="#">
                <img ng-src="img/WechatIMG8.png" alt=""/>
            </a>
            <p>{{nicheng}}</p>
        </div>
    </div>
    <div class="mine-in">
        <a href="#/tabs/mine/program"><i class="fangan"></i><div>方案</div><span class="icon-next"></span></a>
        <a href="#/tabs/mine/order"><i class="dingdan"></i><div>订单</div><span class="icon-next"></span></a>
    </div>
    <a href='' id="signOut" class="signOut" ng-click="signOut()">退出登录</a>
</div>

