<div style="height:44px;">
    <div class="bar bar-header">
        <a href="#/tabs/mine" class="button button-clear icon ion-ios-arrow-back"></a>
        <h1 class="title">服务预约</h1>
    </div>
</div>
<ion-content class="has-header" style="padding:0 5px">
    <div style="background: #fff;margin:10px 0;padding:0 10px;border-radius: 5px;line-height: 1.5">
        <a href="#/tabs/mine/order/:id">
            <p style="border-bottom: 1px solid #ccc;padding:5px 0;">北京爱乐里格美容医院</p>
            <div>李敏 <span style="float: right;color:lightskyblue">¥1204.00</span></div>
            <span style="color: #999">01-10 16:16</span>
            <div style="color: #999;padding-bottom: 10px;">方案1</div>
        </a>
    </div>
    <div style="background: #fff;margin:10px 0;padding:0 10px;border-radius: 5px;line-height: 1.5">
        <a href="#/tabs/mine/order/:id">
            <p style="border-bottom: 1px solid #ccc;padding:5px 0;">北京爱乐里格美容医院</p>
            <div>李敏 <span style="float: right;color:lightskyblue">¥1204.00</span></div>
            <span style="color: #999">01-10 16:16</span>
            <div style="color: #999;padding-bottom: 10px;">方案1</div>
        </a>
    </div>
</ion-content>