
<div class='index-ion'>
    <a ng-href="#/tabs/mine" class="index-ion-return"></a>
    <h1 class='title'>服务预约</h1>
</div>
<ion-content class="has-header" style="padding:0 1rem;background: #ddd">
    <div class="counselor-chat-prog order-card" ng-repeat="item in data">
        <a href="#/tabs/mine/order/:id">
            <p>{{item.adress}}</p>
            <div style="display: flex">
                <span>医生</span>
                <span style="color:#333">&nbsp;&nbsp;{{item.name}}</span>
                <i class="line-ion-zhuan"></i>
                <span style="flex: 1;color:#FE88A5;font-size:1.5rem;text-align:right">{{item.price|currency:"¥"}}</span>
            </div>
            <div><span>时间&nbsp;&nbsp;</span><span>{{item.timer}}</span></div>
            <div><span>方案&nbsp;&nbsp;</span><span style="color:#333">{{item.methods}}</span></div>
        </a>
    </div>
</ion-content>