<div class='index-ion'>
    <a ng-href="#/tabs/mine" class="index-ion-return"></a>
    <h1 class='title'>方案</h1>
</div>
<ion-content class="has-header" style="padding:1rem;background:#F3F7F8">
    <div  class="program-msg">
        <a href="#/tabs/mine/program/:id">
            <p>方案1</p>
            <img ng-src="img/touxiang1.png" alt="加载中"/>
            <div class="program-msg-text">
                <div>李敏 <i class="line-ion-zhuan"></i></div>
                <span>主治医师</span>
            </div>
        </a>
    </div>
    <div  class="program-msg">
        <a href="#/tabs/mine/program/:id">
            <p>方案1</p>
            <img ng-src="img/touxiang1.png" alt="加载中"/>
            <div class="program-msg-text">
                <div>李敏 <i class="line-ion-zhuan"></i></div>
                <span>主治医师</span>
            </div>
        </a>
    </div>
    <div  class="program-msg">
        <a href="#/tabs/mine/program/:id">
            <p>方案1</p>
            <img ng-src="img/touxiang1.png" alt="加载中"/>
            <div class="program-msg-text">
                <div>李敏 <i class="line-ion-zhuan"></i></div>
                <span>主治医师</span>
            </div>
        </a>
    </div>
</ion-content>