<!-- <div class='index-ion'>
    <a ng-href="" ng-click='backPgUp()' class="index-ion-return"></a>
    <h1 class='title'>方案详情</h1>
</div> -->
<ion-content style="background:#F3F7F8" delegate-handle="mainScroll">
    <div class="programInfo-fir">
        <img ng-src="{{data.doctorImg}}" alt="加载中"/>
        <div>
            <span style="color:#666">{{data.doctorName}}</span>
            <span>{{data.doctorLevel}}</span>
            <span style="float:right">{{data.reserveTime}}</span>
        </div>
    </div>
    <div class="programInfo-sec">
        <span>美容规划方案</span>
        <span>定金：{{data.payment | currency:'￥'}}</span>
    </div>
    <div class="programInfo">{{data.schemeName}}</div>
    <ul class="programInfo-con" ng-repeat='item in data.items'>
        <li>{{item.name}}</li>
        <li>适用部位：{{item.body}}</li>
        <li>治疗时长：{{item.curetime}}</li>
        <li>技术理念：{{item.idea}}</li>
        <li>治疗效果：{{item.effect}}</li>
        <li>项目优势：{{item.advantage}}</li>
        <li>参考价格：{{item.amount}}</li>
    </ul>
    <ion-infinite-scroll
            icon="ion-loading-c"
            on-infinite=""
            distance="1%">
    </ion-infinite-scroll>
</ion-content>
<div class="program-btn">
    <a ng-click="appay()">支付定金</a>
</div>