
<!-- <div class='index-ion'>
    <a ng-href="" ng-click='backPgUp()' class="index-ion-return"></a>
    <h1 class='title'>名医在线</h1>
</div> -->
<ion-content delegate-handle="mainScroll">
    <!-- <ion-refresher icon="ion-load-c"
            pulling-text="Pull to refresh..."
            on-refresh="pullMore()">
    </ion-refresher> -->
    <div class="line-selected">
        <div class="line-item">
            <a class="line-active" name=''>全部</a>
            <a name="{{item.id}}" ng-repeat="item in bodys">{{item.name}}</a>
        </div>
    </div>
    <div class="list">
        <a class="item item-avatar line-yisheng" style="padding-left:7rem;"
            ng-repeat="list in lists" ng-href="#/tabs/line/{{list.hospId}}/{{list.id}}">
            <img ng-src="{{list.img}}" alt="加载中">
            <h2>{{ list.name }}-{{ list.level }}<i class="line-ion-zhuan"></i></h2>
            <p>{{ list.hospName }}</p>
            <span ng-repeat="(key,val) in list.plasticProjects" ng-if='key > 2 ? false : true' data-id="{{val.id}}">{{val.name}}</span> 
        </a>
        <ion-infinite-scroll
           icon="ion-load-c"
           on-infinite="loadMore()"
           distance="1%">
        </ion-infinite-scroll>
    </div>
</ion-content>