

<div class='index-ion'>
    <a ng-href="#/tabs/mine" class="index-ion-mine"></a>
    <h1 class='title'>医美定制<span class="index-info"></span></h1>
    <a ng-href="#/tabs/messages" class="index-ion-tongzhi"></a>
</div>
<div  style="padding:1.9% 3.3% 0;">
    <ion-slide-box  style="height:16.25rem;">
        <ion-slide ng-repeat="item in data">
            <a ng-href="#/tabs/messages">
                <img ng-src={{item.src}} alt="{{item.alt}}" class="responsive-img" style="height:100%;background:{{item.bg}};"/>
            </a>
        </ion-slide>
    </ion-slide-box>
</div>
<div style="padding:1.33rem 0;text-align:center;color: #918F8F;font-size: 1rem">
    『  创造你的美  』
</div>

<div  class="index-box">
    <div class="index-to">
        <a ng-href="#/tabs/line">
            <span>...</span>
            <div>名医在线</div>
            <span>一对一专家视频资讯</span>
        </a>
    </div>
    <div class="index-to">
        <a ng-href="#/tabs/diy">
            <span>...</span>
            <div>医院定制</div>
            <span>预约全球顶尖医院</span>
        </a>
    </div>
    <div class="index-to">
        <a href="#/tabs/login">
            <span>...</span>
            <div>专属外形定制咨询师</div>
            <span>
                专业医生咨询团队24小时为您服务
            </span>
        </a>
    </div>
</div>




