

<div class='index-ion'>
    <a ng-href="#/tabs/mine" class="index-ion-mine"></a>
    <h1 class='title'>首页</h1>
    <a ng-href="" ng-click='toMessages()' class="index-ion-tongzhi"><span class="index-info" ng-if='messageInfoNum_z > 0 ? true : false'></span></a>
</div>
<div style="padding:1.9% 3.3% 0;">
    <ion-slide-box pager auto-play="true" does-continue="true" slide-interval="2000" style="height:16.25rem;">
        <ion-slide ng-repeat="item in data">
            <a ng-href="{{item.url}}">
                <img ng-src="{{item.img}}" alt="{{item.title}}" class="responsive-img" style='min-width:100%'/>
            </a>
        </ion-slide>
    </ion-slide-box>
</div>
<div style="padding:1.33rem 0;text-align:center;color: #918F8F;font-size: 1rem">
    『  创造你的美  』
</div>

<div  class="index-box">
    <div class="index-to">
        <a ng-href="#/tabs/line">
            <span>...</span>
            <div>名医在线</div>
            <span>一对一专家视频资讯</span>
        </a>
    </div>
    <div class="index-to">
        <a ng-href="#/tabs/diy">
            <span>...</span>
            <div>医院定制</div>
            <span>预约全球顶尖医院</span>
        </a>
    </div>
    <div class="index-to" ng-click='speedChat()'>
        <span>...</span>
        <div>专属外形定制咨询师</div>
        <span>
            专业医生咨询团队24小时为您服务
        </span>
    </div>
</div>




