*{margin:0;padding:0;box-sizing: border-box}
a{text-decoration: none;color: #444}
/*轮播图*/
.banner{
    width:100%;;height:160px;overflow: hidden;position: relative;
}
.banner-wrap{
    width:9999px;height:160px;position:absolute;top:0px;left:0;
}
@media screen and (width: 320px) {
    .banner-wrap li{
        width:320px;
    }
}
@media screen and (width: 360px) {
    .banner-wrap li{
        width:360px;
    }
}
@media screen and (width: 375px) {
    .banner-wrap li{
        width:375px;
    }
}
@media screen and (width: 412px) {
    .banner-wrap li{
        width:412px;
    }
}
@media screen and (width: 414px) {
    .banner-wrap li{
        width:414px;
    }
}
@media screen and (min-width: 768px) {
    .banner-wrap li{
        width:768px;
    }
}
.banner-wrap li {
    float:left;height:160px;background: red;
}
/*按钮*/
.banner-num{
    position: absolute;top:148px;right:16px;
    height:10px;display: flex;z-index:1000;

}
.banner-num span{display: block;width:8px;height:8px;border-radius:4px;background: #fff;margin-left:2px;}
.banner-num .active-span{background: #444}
/*正式内容*/
.content{padding:0 16px}
.content .wrap-item{display: flex;padding:16px 0;}
.content .wrap-item:not(:last-child){border-bottom: 1px solid #ccc}
.wrap-item .item-img{width:88px;height:68px;margin-right:12px}
.wrap-item .item-text{flex:1;position: relative}
.wrap-item .item-text span{font-size: 12px;position:absolute;bottom: 5px}
.text{font-size: 16px;font-weight: 700}
/*详情页*/
.responsive-img{width:100%;height:auto}
.info-header{width:100%;height:160px;background: #999}
.info-content{padding: 16px;line-height: 1.5}
.info-content span{font-size: 12px;}
.info-footer{width:100%;height:335.5px;background:blue}